body{
	position: relative;
	background-color: #f5f5ef;
}
#slider {
	width: 100%;
}
.carousel-indicators .active{
	background-color: #2980b9;
}
.carousel-inner img {
	width: 100%;
	max-height: 500px;
}
.navbar{
	text-align: center;
}

.navbar-right li{

	height: 60px;
}

.navbar-right li a{
	position: relative;
	bottom: 30px;
}

.container-fluid{padding-top: 20px; }
#text{
	position: absolute;
	background: rgba(0,0,0,0);
	
	text-align: center;
	left: 10%;
	top: 16%;
	height: 30px;
	color: black;

}
#layout{
	position: relative;
	top: 60px;
	background-image: url("back4.jpg");
	height: 500px;

}
#navmenu{
	position: absolute;
	width: 96%;
	top: 0;
	background: rgba(0,0,0,0);
	border: none;
	left: 4%;

}
#navmenu li{
	padding-right: 60px;
	padding-left: 60px;
	background: rgba(100,142,219,0.2);
	height: 70px;

}
#menu-pic{
	position: absolute;
	right: 0;
	bottom: 0;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
 #submit{
 	position: absolute;
 	left: 60%;
 }
 #navmenu li:hover{
 	background: rgba(0,255,255,0.3);
 }

 #Non-Veg{
 	color: white;
 }
 .table td{
 	color: white;
 }
 #live_data{
 	margin-top: 90px;
 	color:  green;

 }
 #live-data2{
 	margin-top: 90px;
 }
 #food1{
 	margin-top: 50px;
 }
 #text{
 	color: white;
 	margin-left: 20%;
 }
h3,h5{
	color: black;
	font-style: italic;
	font-weight: 200;
	font-variant: small-caps
}
tr ,td{
	color: black
}
#quote{
	margin-top: 40px;
}
#quote .well-lg{
	background:rgba(0,0,0,0);
	border:none;
}
#author{
	position: absolute;
	left: 50%;
	bottom: 10%;
}